---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";

import Block from "../assets/block.svg";
---

<main>
    <h1>obradovic.dev</h1>
    <p class="mt-8">
        I am a full-stack developer with a passion for creating beautiful and
        functional user experiences. I am a self-taught developer and I have
        been coding for over 2 years. I have experience working with React,
        NextJS, PHP and more.
    </p>
    <p class="mt-5">
        My web development journey started in 2020 when I was reintroduced to
        the wonders of html and css and have gotten hooked immediately, since
        than i've gotten familiar with tons of new technologies like git and
        github, javascript and typescript, react and nextjs, nodejs and express,
        mongo and firebase... and went to land my first job 6 months after
        graduationg from highschool.
    </p>
</main>
