---
import '@fontsource/instrument-serif';
import '@fontsource-variable/inter';

import "../styles/global.css";

import Spotlight from "../components/Spotlight.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <title>obradovic.dev</title>
    </head>

    <body class="scheme-light bg-[#fcfcfa] relative">
        <Spotlight />

        <main>
            <slot />
        </main>
    </body>
</html>
